

.d-flex{
display: flex;
}

.dashBoadTitle{
    margin-left: 20px;
}

.card{
   padding-left: 20px;
   padding-top: 10px;
   padding-right: 20px;
   border-radius: 8px;
   margin: 8px;
   /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}
.chartjs-render-monitor{
    width: 300px !important;
    height: 200px !important;
}

.cardTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statusCard{
    width: 300px;
    padding-bottom: 14px;
}
.statusActive{
    color: white;
    border-radius: 50px;
    padding: 9px;
}

.active{
    background-color: rgb(24,204,108);
}
.inactive{
    background: rgb(0,116,217);
}
.inshop{
    background: rgb(230,145,32)
}

.displayBox{
    width: 300px;
    padding-bottom: 14px;
}

.numberCard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 240px;
}
.overDueTxt{
    font-size: 40px;
}
.red{
    color: red;
}
.blue{
    color: rgb(17,113,186);
}

.textCenter{
   text-align: center;
}
body{
    background-color: rgb(246,247,247);
}
.textTitle{
    font-family: system-ui;
    font-weight: bolder;
}
a:link {
    text-decoration: none;
}
.details{
    color:rgb(81,159,208)
}
.subText{
    opacity: 0.5;
    font-family: serif;
    font-weight: bold;
}
.listTxt{
    font-weight: 500;
    font-family: ui-monospace;
}
.green{
color: rgb(77,202,137);
}
.yellow{
    color: rgb(255,193,7);
}
.dropDown{
    display: flex;
    width: 200px;
    align-items: center;
    height: 40px;
    border: 0.2px solid rgb(201,206,207);
    cursor: pointer;
    background-color: ghostwhite;
    border-radius: 4px;
    margin-right: 20px;
}

.dashBoadContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.dropBox{
   width: 210px;
   box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   border-radius: 8px;
   cursor: pointer;
   position: absolute;
   top: 11%;
   right: 9%;
   background: aliceblue;

}
.box{
    width: 40px;
    margin-right: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2px solid rgb(201,206,207);
border-radius: 4px;
}
.placeholdertxt{
    margin-left: 10px;
}
.listItems{
padding-top: 20px;
    list-style: none;
}

.summerySubtitle{
    text-align: center;
}
.expand{
    margin-left: 40px;
}